<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover">
    <title>Log in example | Passport.js</title>
    <meta name="description" content="Express 4.x app using Passport for authentication with username and password.">

     <!-- Pico.css -->
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
    <style>
      /* Global CSS variables */
      :root {
        --spacing: 3rem;
        --text-weight: 400;
        --titles-weight: 800;
        --block-round: 0;
      }

      /* Typography */
      h2, h3, hgroup>:last-child {
        font-weight: 200;
      }
      small {
        color: var(--muted-text);
      }

      /* Header */
      .hero {
        background-color: #394046;
        background-image: url("https://source.unsplash.com/wWQ760meyWI/3000x1000");
        background-position: center;
        background-size: cover;
      }
      header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: var(--spacing) 0;
      }
      header hgroup>:last-child {
        color: var(--h3);
      }
      header hgroup {
        margin-bottom: var(--spacing);
      }

      /* Main */
      main .grid > * {
        margin-bottom: var(--spacing);
      }
      @media (min-width: 992px) {
        main .grid {
          grid-column-gap: var(--spacing);
          grid-template-columns: auto 25%;
        }
      }
      form.grid {
        grid-row-gap: 0;
      }

      /* Aside nav */
      aside img {
        margin-bottom: .25rem;
      }
      aside p {
        margin-bottom: var(--spacing);
        line-height: 1.25;
      }
      
      
      :root:not([data-theme=dark]), [data-theme=light] {
          --nav-background: rgba(255, 255, 255, 0.7);
          --nav-border: rgba(115, 130, 140, 0.2);
      }

      [data-theme=dark] {
          --nav-background: rgba(16, 24, 30, 0.8);
          --nav-border: rgba(115, 130, 140, 0.2);
      }

      body > nav {
          z-index: 99;
          position: fixed;
          top: 0;
          right: 0;
          left: 0;
          backdrop-filter: saturate(180%) blur(20px);
          background-color: var(--nav-background);
          box-shadow: 0px 1px 0 var(--nav-border);
      }
      
      .hero,
      body>main {
          padding-top: 100px;
          x-padding-top: calc(1rem * var(--spacing-factor-xs) + 3.5rem);
      }

      @media (min-width: 576px) {
        .hero,
        body > main {
          padding-top: 100px;
          x-padding-top: calc(1rem * var(--spacing-factor-sm) + 3.5rem);
        }
      }

      @media (min-width: 768px) {
        .hero,
        body > main {
          padding-top: 100px;
          x-padding-top: calc(1rem * var(--spacing-factor-md) + 3.5rem);
        }
      }

      @media (min-width: 992px) {
        .hero,
        body > main {
          padding-top: 100px;
          x-padding-top: calc(1rem * var(--spacing-factor-lg) + 3.5rem);
        }
      }
    </style>
  </head>

  <body>
    
    <%- include('header'); -%>

    <!-- Hero -->
    <div class="hero" data-theme="dark">
      <header class="container">
        <hgroup>
          <h1>Hello</h1>
          <h2>A classic company or blog layout with a sidebar</h2>
        </hgroup>
        <p><a href="/login" role="button">Sign in</a></p>
      </header>
    </div><!-- ./ Hero -->
    
    <!-- Main -->
    <main class="container">
      <div class="grid">

        <section>
          <hgroup>
            <h2>Ut sit amet sem ut velit</h2>
            <h3>Quisque mi est</h3>
          </hgroup>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque lobortis est vel velit bibendum ultrices. Sed aliquam tortor vel odio fermentum ullamcorper eu vitae neque. Sed non diam at tellus venenatis viverra. Vestibulum et leo laoreet arcu tempor eleifend venenatis ac leo. Pellentesque euismod justo sed nisl sollicitudin varius. Duis venenatis nisl sit amet ante rutrum posuere. Etiam nec ullamcorper leo, sed placerat mauris.</p>
          <figure>
            <img src="https://source.unsplash.com/3Ijt7UkSBYE/1500x750" alt="Architecture">
            <figcaption>Image from <a href="https://unsplash.com">unsplash.com</a></figcaption>
          </figure>
          <h3>Nulla augue metus</h3>
          <p>Pacilisis sed ante ut, posuere volutpat quam. Maecenas maximus blandit mi ac finibus. Proin quis lacinia tellus. Aliquam erat volutpat. Aliquam erat volutpat. Phasellus suscipit nisi augue, id accumsan tortor auctor ut. Duis odio arcu, egestas nec nulla vel, fermentum bibendum ex.</p>
          <h3>Sed purus sapien, porta a cursus sed, maximus et metus.</h3>
          <p>Phasellus molestie ante sed massa bibendum, eget tempus ex sollicitudin. Vestibulum libero nulla, porttitor nec faucibus et, scelerisque eget quam. Nullam finibus tempor dui, vel congue urna condimentum ac. Fusce ultricies mauris justo, nec vulputate mauris pulvinar eu. Sed tempus ligula lorem, at tincidunt risus mollis non. Quisque et turpis sit amet sapien gravida ullamcorper in eu velit. Curabitur luctus ornare finibus. Proin tempor nulla sagittis est fermentum dapibus. Vestibulum posuere mattis congue. Ut porttitor id sem euismod tristique. Quisque mi est, posuere nec lorem eu, vulputate vehicula diam. Nullam scelerisque, libero posuere efficitur bibendum, urna odio finibus lorem, sed volutpat dolor ligula in dolor. Suspendisse suscipit efficitur neque, ut porta tellus mollis vel. Nam consequat arcu ac tellus porta, nec egestas orci sodales.</p>
        </section>

        <aside>
          <a href="#" aria-label="Example" onclick="event.preventDefault()"><img src="https://source.unsplash.com/T5nXYXCf50I/1500x750" alt="Architecture"></a>
          <p>
            <a href="#" onclick="event.preventDefault()">Donec sit amet</a><br>
            <small>Class aptent taciti sociosqu ad litora torquent per conubia nostra</small>
          </p>
          <a href="#" aria-label="Example" onclick="event.preventDefault()"><img src="https://source.unsplash.com/tb4heMa-ZRo/1500x750" alt="Architecture"></a>
          <p>
            <a href="#">Suspendisse potenti</a><br>
            <small>Proin non condimentum tortor. Donec in feugiat sapien.</small>
          </p>
          <a href="#" aria-label="Example" onclick="event.preventDefault()"><img src="https://source.unsplash.com/Ru3Ap8TNcsk/1500x750" alt="Architecture"></a>
          <p>
            <a href="#" onclick="event.preventDefault()">Nullam lobortis placerat aliquam</a><br>
            <small>Maecenas vitae nibh blandit dolor commodo egestas vel eget neque. Praesent semper justo orci, vel imperdiet mi auctor in.</small>
          </p>
        </aside>

      </div>
    </main><!-- ./ Main -->

    <!-- Footer -->
    <footer class="container">
      <small>Built with <a href="https://picocss.com">Pico</a> • <a href="https://github.com/picocss/examples/tree/master/company/">Source code</a></small>
    </footer><!-- ./ Footer -->

<% if (!user) { %>
	<p>Welcome! Please <a href="/login">log in</a>.</p>
<% } else { %>
	<p>Hello, <%= user.username %>. View your <a href="/profile">profile</a>.</p>
<% } %>

  </body>

</html>
