<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover">
    <link rel="stylesheet" href="/stylesheets/pico.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>TODO</title>
    
    <style>
      /* Global CSS variables */
      :root {
        --spacing: 3rem;
        --text-weight: 400;
        --titles-weight: 800;
        --block-round: 0;
      }

      /* Typography */
      h2, h3, hgroup>:last-child {
        font-weight: 200;
      }
      small {
        color: var(--muted-text);
      }

      /* Header */
      
      
      
      
      
      :root:not([data-theme=dark]), [data-theme=light] {
          --nav-background: rgba(255, 255, 255, 0.7);
          --nav-border: rgba(115, 130, 140, 0.2);
      }

      [data-theme=dark] {
          --nav-background: rgba(16, 24, 30, 0.8);
          --nav-border: rgba(115, 130, 140, 0.2);
      }
    </style>
  </head>

  <body>
    <%- include('header'); -%>
    
    <div class="hero">
      <header class="container">
        <hgroup>
          <h1>Hello</h1>
          <h2>Lorem ipsum dolor sit amet</h2>
        </hgroup>
        <p><a href="/login" role="button">Sign in</a></p>
      </header>
    </div>
    
    <main class="container">
      
      
      <section>
        <div class="grid">
          <div>
            <h4>Donec sit amet</h4>
            <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra.</p>
          </div>
          <div>
            <h4>Suspendisse potenti</h4>
            <p>Proin non condimentum tortor. Donec in feugiat sapien.</p>
          </div>
          <div>
            <h4>Nulla augue metus</h4>
            <p>Pacilisis sed ante ut, posuere volutpat quam. Maecenas maximus blandit mi ac finibus.</p>
          </div>
        </div>
      </section>
    </main>
    
    <footer class="container">
      <small>A <a href="http://www.passportjs.org">Passport.js</a> example • <a href="https://github.com/picocss/examples/tree/master/company/">Source code</a></small>
    </footer>
  </body>
</html>
