<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover">
    <title>Log in example | Passport.js</title>
    <meta name="description" content="Express 4.x app using Passport for authentication with username and password.">

     <!-- Pico.css -->
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
    <style>
main {
  border: 1px solid yellow;
}  
    </style>

  </head>

  <body>
    
    <%- include('header'); -%>
    
    <main class="container">
      <p>Messages</p>
      <p>Messages</p>
      <p>Messages</p>
      <p>Messages</p>
      <p>Messages</p>
      
      <p>Messages</p>
    </main>
    
  </body>

</html>
