<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover">
    <title>Log in example | Passport.js</title>
    <meta name="description" content="Express 4.x app using Passport for authentication with username and password.">

     <!-- Pico.css -->
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">

  </head>

  <body>
    <header>
      <hgroup>
        <h1>Hello</h1>
      </hgroup>
    </header>

    <main class="container">

<p>
ID: <%= user.id %><br/>
Username: <%= user.username %><br/>
Name: <%= user.displayName %><br/>
<% if (user.emails) { %>
Email: <%= user.emails[0].value %><br/>
<% } %>
</p>
<a href="/logout">Log out</a>

    </main>

  </body>

</html>
