<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover">
    <link rel="stylesheet" href="/stylesheets/pico.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Profile</title>
    <style>
:root:not([data-theme=dark]), [data-theme=light] {
    --nav-background: rgba(255, 255, 255, 0.7);
    --nav-border: rgba(115, 130, 140, 0.2);
}

[data-theme=dark] {
    --nav-background: rgba(16, 24, 30, 0.8);
    --nav-border: rgba(115, 130, 140, 0.2);
}

main .grid > * {
  margin-bottom: var(--spacing);
}
@media (min-width: 992px) {
  main .grid {
    grid-column-gap: var(--spacing);
    grid-template-columns: 25% auto;
  }
}
    </style>
  </head>

  <body>
    <%- include('header'); -%>

    <main class="container">

      <div class="grid">

        <figure>
          <img src="/images/woman.png" width="128" height="128"/>
        </figure>

        <div>
          <hgroup>
            <h4><%= user.displayName %></h4>
            <p><small><%= user.username %></small></p>
          </hgroup>
            
          <% if (user.emails) { %>
          <p><small>Email: </small><%= user.emails[0].value %></p>
          <% } %>
        </div>

      </div>
    </main>

  </body>
</html>
