<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Express • TodoMVC</title>
		<link rel="stylesheet" href="/node_modules/todomvc-common/base.css">
		<link rel="stylesheet" href="/node_modules/todomvc-app-css/index.css">
		<link rel="stylesheet" href="/css/login.css">
	</head>
	<body>
		<section class="prompt">
				<form action="/users" method="post">
					<h1>Sign up</h3>
					<section>
						<label for="name">Name</label>
						<input id="name" name="name" type="text" autocomplete="name" required autofocus>
					</section>
					<section>
						<label for="username">Username</label>
						<input id="username" name="username" type="text" autocomplete="username" required>
					</section>
					<section>
						<label for="current-password">Password</label>
						<input id="current-password" name="password" type="password" autocomplete="current-password" required />
					</section>
					<button type="submit">Sign up</button>
				</form>
				<hr>
				<p class="help">Already have an account? <a href="/login">Sign in</a></p>
		</section>
		<footer class="info">
			<p>Created by <a href="https://www.jaredhanson.me">Jared Hanson</a></p>
			<p>Part of <a href="https://todomvc.com">TodoMVC</a></p>
			<p>Authentication powered by <a href="https://www.passportjs.org">Passport</a></p>
		</footer>
		<!-- Scripts here. Don't remove ↓ -->
		<script src="node_modules/todomvc-common/base.js"></script>
		<script src="js/app.js"></script>
	</body>
</html>
