.nav {
	position: absolute;
	top: -130px;
	right: 0;
}

.nav ul {
	margin: 0;
	list-style: none;
	text-align: center;
}

.nav li {
	display: inline-block;
	height: 40px;
	margin-left: 12px;
	font-size: 14px;
	font-weight: 400;
	line-height: 40px;
}

.nav a {
	display: block;
	color: inherit;
	text-decoration: none;
}

.nav a:hover {
	border-bottom: 1px solid #DB7676;
}

.nav button {
	height: 40px;
}

.nav button:hover {
	border-bottom: 1px solid #DB7676;
	cursor: pointer;
}

/* background image by Cole Bemis <https://feathericons.com> */
.nav .user {
	padding-left: 20px;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-user'%3E%3Cpath d='M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2'%3E%3C/path%3E%3Ccircle cx='12' cy='7' r='4'%3E%3C/circle%3E%3C/svg%3E");
	background-repeat: no-repeat;
	background-position: center left;
}

/* background image by Cole Bemis <https://feathericons.com> */
.nav .logout {
	padding-left: 20px;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-log-out'%3E%3Cpath d='M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4'%3E%3C/path%3E%3Cpolyline points='16 17 21 12 16 7'%3E%3C/polyline%3E%3Cline x1='21' y1='12' x2='9' y2='12'%3E%3C/line%3E%3C/svg%3E%0A");
	background-repeat: no-repeat;
	background-position: center left;
}
