button {
	display: block;
  padding: 10px;
	width: 100%;
	border-radius: 3px;
  background: #d83f45;
  font-size: 14px;
  font-weight: 700;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #c83f45;
}

form {
  margin: 0 auto;
  max-width: 400px;
}

h1 {
  font-size: 24px;
  font-weight: 500;
  margin: 0 0 20px 0;
  padding: 0 0 5px 0;
}

input {
	box-sizing: border-box;
	border: 1px solid #d9d9d9;
	border-radius: 5px;
  font-size: 14px;
  padding: 10px;
  width: 100%;
}

input[type=email]:not(:focus):invalid,
input[type=password]:not(:focus):invalid {
  color: red;
  outline-color: red;
}

label {
  display: block;
  font-size: 14px;
  font-weight: 500;
  margin: 0 0 3px 0;
}

form section {
  margin: 0 0 20px 0;
  position: relative; /* for password toggle positioning */
}

hr {
	border-top: 1px solid #d9d9d9;
	border-bottom: none;
}

p.help {
	text-align: center;
	font-weight: 400;
}

.prompt {
	padding: 25px;
	margin: 50px;
	background: #fff;
	border: 1px solid #e6e6e6;
	border-radius: 8px;
}

.messages {
  border: 1px solid #d9d9d9;
}

.messages ul {
  list-style: none;
  margin: 0;
}