.prompt {
	max-width: 400px;
	margin: 50px auto;
	padding: 25px;
	background: #fff;
	border: 1px solid #e6e6e6;
	border-radius: 8px;
}

button {
	display: block;
	padding: 10px;
	width: 100%;
	border-radius: 3px;
	background: #d83f45;
	font-size: 14px;
	font-weight: 700;
	color: white;
	cursor: pointer;
}

a.button {
	box-sizing: border-box;
	display: block;
	padding: 10px;
	width: 100%;
	border-radius: 3px;
	background: #000;
	font-size: 14px;
	font-weight: 700;
	text-align: center;
	text-decoration: none;
	color: white;
}

a.google {
	background: #4787ed;
}

button:hover {
	background-color: #c83f45;
}

h1 {
	margin: 0 0 20px 0;
	padding: 0 0 5px 0;
	font-size: 24px;
	font-weight: 500;
}

h3 {
	margin-top: 0;
	font-size: 24px;
	font-weight: 300;
	text-align: center;
	color: #b83f45;
}

form section {
	margin: 0 0 20px 0;
	position: relative; /* for password toggle positioning */
}

label {
	display: block;
	margin: 0 0 3px 0;
	font-size: 14px;
	font-weight: 500;
}

input {
	box-sizing: border-box;
	width: 100%;
	padding: 10px;
	font-size: 14px;
	border: 1px solid #d9d9d9;
	border-radius: 5px;
}

input[type=email]:not(:focus):invalid,
input[type=password]:not(:focus):invalid {
	color: red;
	outline-color: red;
}

hr {
	border-top: 1px solid #d9d9d9;
	border-bottom: none;
}

p.help {
	text-align: center;
	font-weight: 400;
}

/* background image by Cole Bemis <https://feathericons.com> */
.messages p {
	font-size: 14px;
	font-weight: 400;
	line-height: 1.3;
	color: #d83f45;
	padding-left: 20px;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 24 24' fill='none' stroke='%23d83f45' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-alert-circle'%3E%3Ccircle cx='12' cy='12' r='10'%3E%3C/circle%3E%3Cline x1='12' y1='8' x2='12' y2='12'%3E%3C/line%3E%3Cline x1='12' y1='16' x2='12.01' y2='16'%3E%3C/line%3E%3C/svg%3E");
	background-repeat: no-repeat;
	background-position: center left;
}
